<launch>
    <node name="ypspur_ros" pkg="ypspur_ros" type="ypspur_ros" output="screen">
        <param name="_compatible" value="1"/>
        <param name="port" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00"/>
        <!-- <param name="port" value="/dev/ttyACM0"/> -->
        <param name="param_file" value="/home/takeda-y/researches/programs/platform/yp-robot-params/robot-params/speego.param"/>
    </node>

    <node name="wiper" pkg="demopro" type="wiper" output="screen"/>
</launch>