<launch>
    <arg name="robot_name" default="Robot1"/>
    <group ns="$(arg robot_name)">
        <node pkg="waypoint_following" type="tf2_broadcaster" output="screen" name="tf2_broadcaster">
            <param name="file_path" value="$(find waypoint_following)/csv/robot1.csv"/>
            <param name="odom_id" value="$(arg robot_name)/odom"/>
            <param name="goal_id" value="$(arg robot_name)/goal"/>
        </node>
        <node pkg="waypoint_following" type="tf2_listener" name="listener" output="screen">
            <param name="base_link_id" value="$(arg robot_name)/base_link"></param>
            <param name="goal_id" value="$(arg robot_name)/goal"></param>
        </node>
        <node pkg="ypspur_ros" type="ypspur_ros" name="ypspur_ros" required="true">
            <param name="param_file" value="/home/takeda-y/researches/programs/platform/yp-robot-params/robot-params/speego.param"/>
            <!--<param name="port" value="/dev/serial/by-id/usb-T-frog_project_T-frog_Driver-if00"/>-->
            <param name="port" value="/dev/ttyACM0"/>
            <param name="compatible" value="1"/>
            <param name="odom_id" value="$(arg robot_name)/odom"/>
            <param name="base_link_id" value="$(arg robot_name)/base_link"/>
        </node>
    </group>
        <node pkg="waypoint_following" type="starter" output="screen" name="starter"/>
</launch>